<section class="contenedor presentacion">
    <div class="presentacion-img">
        <span class="presentacion-cont-img">
            <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/512px/1f4bb.png" alt="" class="img-inicio">
        </span>
    </div>
    <div class="presentacion-info">
        <h1 class="nombre">{{nombreAutor}}</h1>
        <h2 class="rol">{{rolAutor}}</h2>
        <p class="informacion-personal">
            {{presentacionAutor}}
        </p>
    </div>
    
</section>
<span class="separador"></span>
<section class="contenedor tecnologias">
    <p class="contenedor-titulo">Tecnologias</p>
    <div class="contenedor-tecnologias">
        <div class="cont-carta">
            <div class="carta">
                <div class="carta-header">
                    <h2 class="carta-titulo">Frontend</h2>
                </div>
                <div class="carta-body">
                    <div class="cont-carta-frontend">
                        <div class="carta-frontend">
                            <div class="frontend-cont-img">
                                <img class="frontend-img" src="https://cdn-icons-png.flaticon.com/512/174/174854.png" alt="">
                            </div>
                            <div class="frontend-cont-info">
                                <h3 class="frontend-titulo">HTML5</h3>
                                <div class="progress">  
                                    <div class="progress-bar" style="width:100%;">
                                        <span class="progress-bar-text">100%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont-carta-frontend">
                        <div class="carta-frontend">
                            <div class="frontend-cont-img">
                                <img class="frontend-img" src="https://cdn-icons-png.flaticon.com/512/174/174854.png" alt="">
                            </div>
                            <div class="frontend-cont-info">
                                <h3 class="frontend-titulo">CSS3</h3>
                                <div class="progress">
                                    <div class="progress-bar" style="width:75%;">
                                        <span class="progress-bar-text">75%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont-carta-frontend">
                        <div class="carta-frontend">
                            <div class="frontend-cont-img">
                                <img class="frontend-img" src="https://cdn-icons-png.flaticon.com/512/174/174854.png" alt="">
                            </div>
                            <div class="frontend-cont-info">
                                <h3 class="frontend-titulo">Javascript</h3>
                                <div class="progress">
                                    <div class="progress-bar" style="width:65%;">
                                        <span class="progress-bar-text">65%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont-carta-frontend">
                        <div class="carta-frontend">
                            <div class="frontend-cont-img">
                                <img class="frontend-img" src="https://cdn-icons-png.flaticon.com/512/174/174854.png" alt="">
                            </div>
                            <div class="frontend-cont-info">
                                <h3 class="frontend-titulo">Angular</h3>
                                <div class="progress">
                                    <div class="progress-bar" style="width:40%;">
                                        <span class="progress-bar-text">40%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont-carta">
            <div class="carta">
                <div class="carta-header">
                    <h2 class="carta-titulo">Backend</h2>
                </div>
                <div class="carta-body">
                </div>
            </div>
        </div>
        <div class="cont-carta">
            <div class="carta">
                <div class="carta-header">
                    <h2 class="carta-titulo">Base de datos</h2>
                </div>
                <div class="carta-body">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="cont-carta">
            <div class="carta">
                <div class="carta-header">
                    <h2 class="carta-titulo">Otros</h2>
                </div>
                <div class="carta-body">
                </div>
            </div>
        </div>

    </div>
</section>
<span class="separador"></span>

<section class="contenedor proyectos">
    <p class="contenedor-titulo">Proyectos</p>
    <div class="contenedor-proyectos">
        <div class="cont-carta-proyecto">
            <div class="carta-proyecto">
                <div class="carta-proyecto-mas">
                    <span class="carta-proyecto-titulo">Titulo</span>
                    <button id="carta-proyecto-btn">Ver</button>
                </div>
            </div>
        </div>
        <div class="cont-carta-proyecto">
            <div class="carta-proyecto">
                <span class="carta-proyecto-titulo">Titulo</span>
            </div>
        </div>
        <div class="cont-carta-proyecto">
            <div class="carta-proyecto">

            </div>
        </div>
        <div class="cont-carta-proyecto">
            <div class="carta-proyecto">

            </div>
        </div>
        <div class="cont-carta-proyecto">
            <div class="carta-proyecto">

            </div>
        </div>

    </div>
</section>

    