
<section class="contenedor">
    <div class="cont-formulario-contacto">
        <h2 class="cont-formulario-titulo">Contactame</h2>
        <hr>
        <br>
        <form id="formularioContacto" method="post" class="formulario-contacto">
            <div class="cont-campos">
                <label for="">Nombre</label>
                <input type="text">
            </div>
            <div class="cont-campos">
                <label for="">Apellido</label>
                <input type="text">
            </div>
            <div class="cont-campos">
                <label for="">Correo</label>
                <input type="text">
            </div>
            <div class="cont-campos">
                <label for="">Motivo de contacto</label>
                <textarea></textarea>
            </div>
            <div class="cont-campos">
                <button class="formulario-contacto-btn" id="btnContacto" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</section>