
.cont-crear-proyecto{
    border:solid 4px var(--color-letra);
    height: auto;
    max-height: 1000px;
    margin: 30px 50px;
    overflow: hidden;
    box-shadow: 1px 1px 12px 4px rgba(0,0,0,0.8);
    width: 40%;
    padding: 10px 20px;
}

.crear-proyecto-header{
    height: 50px;
    /* background-color: rgba(12, 140, 213, 0.8); */
    background-color: transparent;
    display: flex;
    align-items: center;
}

.crear-proyecto-titulo{
    margin: 10px 0px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-letra);
}

.crear-proyecto-body{
    /* background-color: #fff; */
    background-color: transparent;
    height: 85%;
    /* padding: 10px 20px; */
}

.cont-campos{
    border: none;
}

.contacto-label{
    display: block;
    color: var(--color-letra);
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    margin-bottom: 3px;
}

.contacto-msj-error{
    color: rgb(220, 16, 16);
    font-size: 18px;
    margin-left: 2px;
    font-weight: bold;
}

.contacto-input{
    height: 25px;
    padding: 5px;
    font-size: 18px;
    outline: none;
    border: none;
    width: calc(100% - 10px);
    background-color: rgba(0, 0, 0, 0.4);
    border: solid 2px var(--color-letra);
    color: white;
    margin-bottom: 10px;
}

.contacto-textarea{
    min-width: calc(100% - 10px);
    max-width: calc(100% - 10px);
    min-height: 200px;
    max-height: 200px;
    padding: 5px;
    font-size: 18px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid 2px var(--color-letra);
    color: white;
    margin-bottom: 10px;
}

.contacto-input-img{
    margin-bottom: 15px;
    height: 20px;
    width: 300px;
    padding: 3px;
    outline: none;
    border: none;
    border-radius: 5px; 
}

#btn-agregar-proyecto{
    padding: 8px;
    height: 45px;
    width: 150px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    border: solid 3px var(--color-letra);
    background-color: transparent;
    color: var(--color-letra);
    transition: 0.5s;
    cursor: pointer;
}

#btn-agregar-proyecto:hover{
    background-color: var(--color-letra);
    color: white;
    transition: 0.5s;
    border: solid 3px transparent;
}

#btn-agregar-proyecto[disabled]{
    background-color: rgb(0, 0, 0);
    cursor: no-drop;
}