<section class="card-proyectos">
    <div class="card-header">
        <h2 class="card-title">Mis proyectos</h2>
        <div class="card-header-right">
            <a  [routerLink]="['/crearProyecto']">
                <button id="agregarProyecto">+</button>
            </a>
            <div class="cont-buscador">
                <input id="buscadorProyecto" type="text" placeholder="Busca aquí">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="cont-proyectos">
            <div class="cont-card" *ngFor="let proyecto of proyectos">
                <a class="card-proyecto" href="" [routerLink]="['/verProyecto', proyecto._id]">
                    <div class="card-proyecto-left">
                        <img class="card-proyecto-img" src="{{url+'obtenerImagenProyecto/'+proyecto.imagen}}"  *ngIf="proyecto.imagen" alt="">   
                    </div>
                    <div class="card-proyecto-rigth">
                        <h3 class="card-proyecto-titulo">
                            {{proyecto.nombre}}
                        </h3>
                        <p class="card-proyecto-descripcion">
                            {{proyecto.descripcion}}
                        </p>
                        <p class="card-proyecto-lenguajes">
                            Lenguajes: {{proyecto.lenguajes}}
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>