<section class="card-proyectos">
    <div class="card-header">
        <h2 class="card-title">Mis proyectos</h2>
        <div class="card-header-right">
            <a  [routerLink]="['/crearProyecto']">
                <button id="agregarProyecto">+</button>
            </a>
            <div class="cont-buscador">
                <input id="buscadorProyecto" type="text">
                <button id="btnBuscar">
                    <fa-icon [icon]="icono1"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="cont-proyectos">
            <div class="cont-card">
                <div class="card-proyecto">
                    <div class="card-proyecto-header">
                        <img class="card-proyecto-img" src="https://c8.alamy.com/compes/prfdh8/codigo-de-programacion-de-futurista-y-grandes-conexiones-de-datos-y-modelos-de-red-ilustracion-3d-prfdh8.jpg" alt="">
                        <h3 class="card-proyecto-titulo">
                            Fruitapp
                        </h3>
                    </div>
                    <div class="card-proyecto-body">
                        <button class="card-proyecto-btn">
                            Mostrar más
                        </button>
                    </div>
                </div>
            </div>
            <div class="cont-card">
                <div class="card-proyecto">
                    <div class="card-proyecto-header">
    
                    </div>
                    <div class="card-proyecto-body">
                        
                    </div>
                </div>
            </div>
            <div class="cont-card">
                <div class="card-proyecto">
                    <div class="card-proyecto-header">
    
                    </div>
                    <div class="card-proyecto-body">
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</section>