
<nav>
  <!-- <div class="mainbanner">
    <img class="imgbanner" src="https://images.unsplash.com/photo-1619410283995-43d9134e7656?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHByb2dyYW1hY2lvbnxlbnwwfHwwfHw%3D&w=1000&q=80" alt="Imagen banner">
  </div> -->
  <ul class="navbar">
    <li id="logo"><a href="#">G-Stoney</a></li>
    <li class="navitem"><a [routerLink]="['/inicio']" [routerLinkActive]="['actived']">Inicio</a></li>
    <li class="navitem"><a [routerLink]="['/sobremi']" [routerLinkActive]="['actived']">Sobre Mi</a></li>
    <li class="navitem"><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li class="navitem"><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>



<footer>
  <div class="footer-info">
    <h3 class="footer-titulo">Buscame</h3>
    <div class="footer-cont-redes">
      <div class="cont-footer-icon">
        <a href="https://www.linkedin.com/in/garysandoval/"target="_blank">
          <fa-icon  [icon]="iconLinkedin" class="footer-icon"></fa-icon>
        </a>
      </div>
      <div class="cont-footer-icon">
        <a href="https://www.instagram.com/_g0ds1ll4_/" target="_blank"> 
          <fa-icon  [icon]="iconInstagram" class="footer-icon"></fa-icon>
        </a>      
      </div>
      <div class="cont-footer-icon">
        <a href="https://github.com/G0dSilla" target="_blank">
          <fa-icon  [icon]="iconGithub" class="footer-icon"></fa-icon>
        </a>    
      </div>
      <div class="cont-footer-icon">
        <a href="https://gitlab.com/G0dSilla" target="_blank">
          <fa-icon  [icon]="iconGitlab" class="footer-icon"></fa-icon>
        </a>      
      </div>
    </div>
  </div>
</footer>