<section class="contenedor sobre-mi">
    <h2 class="contenedor-titulo">Información Personal</h2>
    <div>
        <div>
            {{sobreMi}}

        </div>
    </div>
</section>
<span class="separador"></span>
<section class="contenedor exp-laboral">
    <h2 class="contenedor-titulo">Experiencia Laboral</h2>
    <div class="cont-experienciasLaboral">
        <div class="cont-carta-expLaboral">
            <div class="carta-expLaboral">
                <div class="carta-expLaboral-rigth">
                    <img class="carta-expLaboral-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPCVFE_zKvLuWPtWHtAVeA4aNCYoE9jpqNuCZA42-a2KyCPsHLsL7XcVn_oCMYUOM2Pjg&usqp=CAU" alt="">
                </div>
                <div class="carta-expLaboral-left">
                    <h3 class="carta-expLaboral-titulo">
                        Banco Bice - Soporte Técnico
                    </h3>
                    <p class="carta-expLaboral-duracion">
                        Enero 2019 - Abril 2019
                    </p>
                    <p class="carta-expLaboral-descripcion">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, maiores suscipit accusantium fugit voluptas eos corrupti quae temporibus, debitis porro dolore labore, voluptatem blanditiis ducimus officia dolorem exercitationem cum quaerat veritatis rerum amet molestiae quibusdam dolores. Ut commodi expedita dolore officia nisi corrupti modi vel vitae, placeat minus eligendi consequuntur.
                    </p>
                </div>
            </div>
        </div>
        <div class="cont-carta-expLaboral">
            <div class="carta-expLaboral">
                <div class="carta-expLaboral-rigth">
                    <img class="carta-expLaboral-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPCVFE_zKvLuWPtWHtAVeA4aNCYoE9jpqNuCZA42-a2KyCPsHLsL7XcVn_oCMYUOM2Pjg&usqp=CAU" alt="">
                </div>
                <div class="carta-expLaboral-left">
                    <h3 class="carta-expLaboral-titulo">
                        Banco Bice - Soporte Técnico
                    </h3>
                    <p class="carta-expLaboral-duracion">
                        Enero 2019 - Abril 2019
                    </p>
                    <p class="carta-expLaboral-descripcion">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, maiores suscipit accusantium fugit voluptas eos corrupti quae temporibus, debitis porro dolore labore, voluptatem blanditiis ducimus officia dolorem exercitationem cum quaerat veritatis rerum amet molestiae quibusdam dolores. Ut commodi expedita dolore officia nisi corrupti modi vel vitae, placeat minus eligendi consequuntur.
                    </p>
                </div>
            </div>
        </div>
        <div class="cont-carta-expLaboral">
            <div class="carta-expLaboral">
                <div class="carta-expLaboral-rigth">
                    <img class="carta-expLaboral-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPCVFE_zKvLuWPtWHtAVeA4aNCYoE9jpqNuCZA42-a2KyCPsHLsL7XcVn_oCMYUOM2Pjg&usqp=CAU" alt="">
                </div>
                <div class="carta-expLaboral-left">
                    <h3 class="carta-expLaboral-titulo">
                        Banco Bice - Soporte Técnico
                    </h3>
                    <p class="carta-expLaboral-duracion">
                        Enero 2019 - Abril 2019
                    </p>
                    <p class="carta-expLaboral-descripcion">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, maiores suscipit accusantium fugit voluptas eos corrupti quae temporibus, debitis porro dolore labore, voluptatem blanditiis ducimus officia dolorem exercitationem cum quaerat veritatis rerum amet molestiae quibusdam dolores. Ut commodi expedita dolore officia nisi corrupti modi vel vitae, placeat minus eligendi consequuntur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<span class="separador"></span>
<section class="contenedor estudios">
    <h2 class="contenedor-titulo">Historial Academico</h2>
    <div class="cont-estudios">
        <div class="cont-estudios-academicos">
            <h3 class="cont-estudios-titulo">Estudios</h3>
            <div class="cont-cartas-estudios">
                <div class="carta-estudio-academico">
                    <div class="carta-estudio-academico-left">
                        <img class="carta-academico-img" src="" alt="">
                    </div>
                    <div class="carta-estudio-academico-rigth">
                        <h3 class="carta-academico-nombre">Colegio Bicentenario Aprender</h3>
                        <hr class="carta-academico-separador">
                        <p class="carta-academico-grado">Educacion Media  |  2015 - 2018</p>
                        <p class="carta-academico-titulo">Tecnico nivel medio en Conectividad y redes</p>
                    </div>
                </div>
                <div class="carta-estudio-academico">
                    
                </div>
                <div class="carta-estudio-academico">
                    
                </div>
            </div>
        </div>
        <div class="cont-estudios-cursos">
            <h3 class="cont-estudios-titulo">Cursos</h3>
            <div class="cont-cartas-estudios">
                <div class="carta-estudio-cursos">

                </div>
                <div class="carta-estudio-cursos">

                </div>
            </div>
        </div>
    </div>
</section>

